.flex-sample {
    /* if i want to use flex to move items on my paige, i will edit the "display property in CSS */
    display: flex;
    /* by default, flex will show my items on the page in a row, meaning all side by side */
    flex-direction: column;
    /* our flex direction will control where information on our page goes, almost telling it what order to read. (top-bottom, left-right, etc.) */
    align-items: center;
}

.card {
    background-color: burlywood;
    border-radius: 5px;
    padding: 7px;
    width: 30%;
}

#flex-container {
    display: flex; /*flex-direction:row; */
    flex-wrap: wrap; /* this is a multi-line flex container, wrap any content that goes past the flex container to a new line*/
    justify-content: space-evenly;
}