/* 
* Building Blocks

    selector {
        property: value;
    } <- declaration block
*/

nav {
    background-color: #afafaf;
    /* 
    -preset colors: red, blue yellow, etc.
    - rgb & rgba (red, green, blue, alpha)
     - alpha determines transparency
        ex: rgba( 200, 15, 100, .5)
    0-250 range for each color
    0-1 range for alpha
    -Hexidecimal
        - 16 digits: 0-9 A-F
        ex: #d2d2d2
    */
    overflow: hidden;
}

.btn {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#home {
    float: left;
    
}